/Scholar/nbproject/private/
/JavaApplication75/nbproject/private/
/Persona/nbproject/private/
/Persona/build/
/Scholar1/nbproject/private/
/Scholar1/build/
/Actividad/nbproject/private/
/Actividad/build/
/Str/nbproject/private/
/Str/build/
/jajaja/nbproject/private/
/jajaja/build/
/Elias/nbproject/private/